body {
    background: white;
    color: black;
    font-size: 4px;
    font-family: impact;
    &:after {
        @include shadow-bottom-fuzzy;
    }
}

main {
    padding: 2em;
}

@include headings();
