html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
  align-content: center;
}


body {
  background: white;
  color: black;
}


form {
  display: flex;
}


input {
  border-radius: 3px;
  outline: none;
}
